:root {
	font-size: 16px;
	font-family: "Roboto", "Segoe UI", "Helvetica Neue", sans-serif;
	/* Variables */
	--main: #40a3e6;
	--danger: #e64040;
	--text: #333;
	--text-light: #666;
	--text-lighter: #999;
	--text-lightest: #a7a7a7;
	--bg: #fafbfc;
	--light-grey: #D7D7D7;
	--gh: #24292e;
	--gl: #4f3e7f;
	--header-1: #3c95d1;
	--header-2: #be62bb;
	--header-3: #37c862;
	--header-4: #1a8fb4;
}

::selection {
	color: white;
	background-color: var(--main);
}

body {
	color: var(--text);
	background: var(--bg);
}

main {
	width: 100%;
	padding: 16px;
	box-sizing: border-box;
}

h1, h2, h3, h4, h5, h6 {
	font-family: "Segoe UI", "Roboto", sans-serif;
}

h2 {
	font-size: 16px;
	margin-top: 0;
}

h2.small {
	font-size: 10px;
	margin-top: 4px;
	margin-bottom: 0;
	text-transform: uppercase;
	color: var(--text-lighter);
}

a {
	text-decoration: none;
	color: var(--text-light);
}
.link, .link i.material-icons {
	color: var(--main);
}

.card {
	padding: 16px;
	border-radius: 4px;
	box-sizing: border-box;
	background-color: white;
	border: solid 1px var(--light-grey);
}

button:focus{
	outline: none;
}
.button {
	cursor: pointer;
	outline: none;
	margin-bottom: 16px;
	font-weight: 700;
	text-align: center;
	border-radius: 4px;
	max-width: 100%;
	width: 250px;
	padding: 16px;
	box-sizing: border-box;
	color: white;
	background-color: var(--main);
	border: solid 1px var(--main);
}
.button.small {
	padding: 8px;
	width: 150px;
}
.button.light {
	color: #40a3e6;
	background-color: transparent;
}
.button.danger {
	background-color: transparent;
	border: solid 1px var(--danger);
	color: var(--danger);
}
.button.disabled {
	opacity: 0.8;
	cursor: no-drop;
	filter: contrast(0.66);
}

p.error {
	font-size: 14px;
	color: var(--danger);
}
p.success {
	font-size: 14px;
	color: var(--main) !important;
}
p.light {
	font-size: 12px;
	color: var(--text-lightest);
}
.danger {
	color: var(--danger);
}

.rounded {
	border-radius: 50%;
}

.row {
	display: flex;
	flex-direction: row;
}
.column {
	display: flex;
	flex-direction: column;
}

.centered {
	display: flex;
	align-items: center;
	justify-content: center;
}
.a-centered {
	align-items: center;
}
.j-centered {
	justify-content: center;
}
.j-around {
	justify-content: space-around;
}
.j-between {
	justify-content: space-between;
}
.j-end {
	justify-content: flex-end;
}
.a-end {
	align-items: flex-end;
}
.wrap {
	flex-wrap: wrap;
}

.spaced-bottom {
	margin-bottom: 32px;
}

@media only screen and (max-width: 720px) {
	.sm-hide {
		display: none;
	}
}
