:root {
  font-size: 16px;
  font-family: 'Roboto', 'Segoe UI', 'Helvetica Neue', sans-serif;
  /* Variables */
  --main: #40a3e6;
  --text: #333;
  --bg: #fafbfc;
}

::selection {
  color: white;
  background-color: var(--main);
}

body {
  color: var(--text);
  background: var(--bg);
}