.comment-section .meta {
	margin-bottom: 16px;
	color: var(--text-light);
	font-size: 14px;
}

.comment-section .meta .signup {
	margin-left: 16px;
	width: auto;
	padding: 8px 16px;
}

.comment-section .meta img {
	height: 48px;
	width: 48px;
	margin-right: 16px;
	border-radius: 4px;
}

.comment-section .meta p {
	margin: 0;
}

.comment-section textarea {
	border: none;
	outline: none;
	padding: 16px 0;
	width: 100%;
	box-sizing: border-box;
	transition: .2s;
	height: 64px;
}
.comment-section textarea:focus,
.comment-section textarea:not(:placeholder-shown) {
	height: 256px;
}

.comment-section .button {
	margin-right: 16px;
	width: 128px;
	margin-bottom: 0;
	padding: 8px;
}


.comment.card {
	border-left: solid 3px hsla(204, 77%, 58%, 0.75);
}

.comment .author {
	font-size: 14px;
	margin: 0;
	margin-right: 8px;
}

.comment .author i.material-icons {
	margin-right: 4px;
}

.comment p {
	margin: 0;
}

.comment .options {
	user-select: none;
	margin-top: 16px;
}

.comment .options span {
	cursor: pointer;
	margin-right: 16px;
}


.subcomment-input textarea {
	border-radius: 4px;
	padding: 8px;
	margin: 8px 0;
	height: 40px;
	border: solid 1px var(--light-grey);
}

.subcomment-input textarea:focus,
.subcomment-input textarea:not(:placeholder-shown) {
	height: 128px;
}
