@keyframes spinner {
  to {
    transform: rotate(360deg);
  }
}

.spinner-container {
	width: 100%;
	padding: 16px;
}

.spinner:before {
  display: block;
  content: "";
  width: inherit;
  height: inherit;
  border-radius: 50%;
  box-sizing: border-box;
  border: 2px solid rgba(255, 64, 64);
  border-top-color: rgb(64, 200, 0);
  border-right-color: rgba(0, 128, 255);
  border-bottom-color: rgba(200, 0, 255);
  animation: spinner .6s linear infinite;
}
