aside {
	position: -webkit-sticky;
  position: sticky;
  top: 44px;
  width: 250px;
	padding: 16px;
  margin-right: 16px;
	box-sizing: border-box;
	max-height: calc(100vh - 44px);
}

aside .button {
	font-size: 14px;
	padding: 8px;
	margin-bottom: 8px;
}

aside .popular {
	margin-top: 16px;
}
