aside {
	position: -webkit-sticky;
  position: sticky;
  top: 44px;
  width: 250px;
	padding: 16px;
  margin-right: 16px;
	box-sizing: border-box;
	max-height: calc(100vh - 44px);
}

aside .button {
	font-size: 14px;
	padding: 8px;
	margin-bottom: 8px;
}

aside .popular {
	margin-top: 16px;
}

aside .nav {
	margin-top: 32px;
}
aside .nav .column {
	width: 50%;
}
aside .nav a {
	margin: 4px 0;
	margin-left: 0;
	color: var(--text-light);
	font-size: 12px;
}

aside .social {
	margin-top: 16px;
}

aside .social img {
	width: 24px;
	height: 24px;
}

aside .copy {
	margin-top: 16px;
	font-size: 14px;
}

aside .copy p {
	margin: 4px 0 0 0;
	color: var(--text-lighter);
}
