.skeleton-img,
.skeleton-text,
.skeleton-title {
	--skeleton-bg: rgba(0,0,0,0.05);
	--skeleton-fg: rgba(0,0,0,0.1);
}

.skeleton-container {
	margin-bottom: 32px;
	width: 100%;
}

.skeleton-img {
	width: 64px;
	height: 64px;
	border-radius: 4px;
	background-color: var(--skeleton-fg);
	margin-right: 16px;
}

.skeleton-title,
.skeleton-text {
	height: 20px;
	border-radius: 4px;
	background-color: var(--skeleton-bg);
	display: block;
	margin: 0;
	margin-bottom: 8px;
	background-image: linear-gradient(to right, var(--skeleton-fg), var(--skeleton-bg));
}

.skeleton-title {
	margin-bottom: 16px;
	width: 200px;
}

.skeleton-text {
	width: 300px;
}
.skeleton-text:last-of-type {
	margin-bottom: 0;
}
